html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --primary-bg-color: #2196f3;
}
body {
  font-family: "Roboto", "sans-serif";
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/**/
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo span:hover,
.logo span:focus {
  color: var(--accent-color);
}
.logo span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: black;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* #F5F4FA  цвет фона*/

/* Navigation*/

.site-nav {
  display: flex;
  margin-left: 93px;
  padding-right: 0;
}
.page-header {
  border-bottom: 1px solid #eeee;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav .item {
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav-item {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts list link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts .item {
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts :hover,
.contacts :focus {
  color: var(--accent-color);
}
.section-title {
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.hero {
  padding-top: 200px 0;

  text-align: center;
  background-color: #2f303a;
}
.hero-btn {
  margin-bottom: 205px;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  max-width: 695px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}
.feature-list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-item + .features-item {
  margin-left: 30px;
}
.feature-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  max-width: 270px;
  margin-bottom: 0;
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}
.work-list {
  display: flex;
  padding-bottom: 94px;
}
.work-list-item {
  width: 370px;
  height: 294px;
}
.work-list-item + .work-list-item {
  margin-left: 30px;
}
.section-team {
  background-color: #e5e5e5;
}

.team {
  display: flex;
  padding-bottom: 94px;
}
.team-people + .team-people {
  margin-left: 30px;
}
.team .title {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-people {
  background-color: var(--background-color);
}
.team-work {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 10px;
}
.section-team .section-title {
  padding-top: 94px;
}

.footer {
  background-color: #2f303a;
}
.logo-footer {
  display: flex;
  padding-top: 60px;
  color: var(--background-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-footer span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}
.logo-footer span:hover,
.logo-footer span:focus {
  color: var(--accent-color);
}
.footer-contacts list link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts {
  display: block;
  padding-bottom: 51px;
}
.footer-adress {
  padding-top: 20px;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-info {
  margin-bottom: 9px;
}

.footer-contacts :hover,
.footer-contacts :focus {
  color: var(--accent-color);
}

/* Страница Портфолио*/
.filter {
  display: flex;
  padding-top: 96px;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}
.filter-btn .list {
  cursor: pointer;
}
.filter-btn :hover,
.filter-btn :focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}
.examples-next {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 92px;
}
.examples-title {
  margin-top: 20px;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.examples-next .item {
  width: 370px;
  height: 404px;
  border: 1px solid #ececec;
}
.examples-discription {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  width: 322px;

  color: #757575;
}
.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
}
